* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

.bg-light {
  color: darkslategrey;
  background: antiquewhite;
}

.bg-dark {
  background: darkslategrey;
  color: antiquewhite;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

nav {
  opacity: 0.9;
  background: darkgray;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 1rem;
  font-weight: 700;
}

.primary-text, .logo i {
  color: aquamarine;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  padding: 1rem;
  text-align: center;
  width: 6rem;
  border-radius: 10px;
}

nav ul li:hover {
  background-color: darkolivegreen;
}

#home {
  background: url("../media/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  color: antiquewhite;
}

.l-heading {
  padding: 7rem 1rem 2rem;
  font-size: 2rem;
}

.lead {
  padding: 2rem 3rem 2rem;
}

.btn {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: darkolivegreen;
}

.btn:hover {
  background-color: darkgreen;
}

.content-heading {
  padding: 1.5rem 0rem;
}

.text-center {
  text-align: center;
}

.items {
  display: flex;
  padding: 2rem;
  justify-content: center;
  width: 100vw;
}

.item {
  padding: 1rem;
  display: flex;
  text-align: left;
  width: 20rem;
  justify-content: center;
}

.item i {
  padding: 0.5rem;
  background: lightgreen;
  border-radius: 50%;
  align-self: center;
  margin: 0.5rem;
}

.item div {
  padding-left: 0.5rem;
}

.item div p {
  line-height: 1.3;
}

.item h3 {
  padding-bottom: 0.5rem;
}

#description .container{
  display: flex;
  justify-content: stretch;
}

#description .container div{
  flex: 1;
}

#team_image {
  background: url("../media/people.jpg") no-repeat center center/cover;
}

#whoWeAre {
  padding: 2rem;
}

#whoWeAre p {
  padding-bottom: 1rem;
}

.list li {
  padding: 1rem 0rem 0.5rem 0rem;
  border-bottom: 1px dotted dimgrey;
}

#clients .container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  padding: 2rem;
  justify-content: center;
}

#clients h2 {
  font-size: 2rem;
}

.client-icon img {
  width: 60%;
  display: block;
  margin: auto;
}

#contact {
  display: flex;
}

#contact div {
  flex: 0.33;
}
.contact-form {
  padding: 2.5rem;
}

.contact-form h2 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.contact-form form {
  padding: 0rem 1rem;
}
.contact-form input,
.contact-form label,
.contact-form textarea,
.contact-form button {
  display: block;
  width: 100%;
}

.contact-form label {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.contact-form input {
  padding: 0.5rem;
}

.contact-form textarea {
  margin-bottom: 1.5rem;
}

.contact-form button {
  margin: 0px;
  padding: 0.7rem;
  color: antiquewhite;
}

.map {

}

footer div {
  background-color: #af3;
  padding: 1.5rem;
}