div {
  margin: 5px auto;
  width: 200px;
}

p {
  padding: 0 0 0 10px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  margin: 5px;
}

html { 
  background: url('../imgs/back.png') no-repeat center center fixed;
}