/* vars */
:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333;

  --max-width: 1100px;
}

.news-category {
  --sports-color: var(--secondary-color);
  --entertaiment-color: #a66bbe;
  --tech-color: #009cff;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Staatliches', cursive;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}

/* Utils */
.primary-text {
  color: var(--primary-color);
}

.primary-bg {
  background: var(--primary-color);
  color: var(--light-color);
}

.grey-bg {
  background: var(--light-color);
  color: var(--dark-color);
}

.weight-text {
  font-weight: 900;
}

.l-heading {
  font-size: 2rem;
  padding: 1rem;
}

.m-heading {
  font-size: 1.5rem;
  padding: .7rem;
}

.s-heading {
  padding: .5rem;
}

.btn {
  display: inline-block;
  padding: .75rem;
  text-align: center;
  font-weight: bold;
}

.btn:hover {
  background: var(--light-color);
  color: var(--dark-color);
}

.current {
  background: var(--primary-color);
  color: #fff;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

#main-nav {
  background: #fff;
  position: sticky;
  z-index: 2;
  top: 0;
}

#main-nav .container {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 1rem;
  align-items: center;
}

#main-nav .logo {
  width: 180px;
}

#main-nav ul {
  justify-self: end;
  display: flex;
}

#main-nav .nav-social-icons {
  justify-self: center;
}

#main-nav .nav-social-icons i {
  color: #777;
  margin-right: .5rem;
}
