/* vars */
:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333;

  --sports-color: var(--secondary-color);
  --entertaiment-color: #a66bbe;
  --tech-color: #009cff;

  --max-width: 1100px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Staatliches', cursive;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}

/* Utils */
.primary-text {
  color: var(--primary-color);
}

.primary-bg {
  background: var(--primary-color);
  color: var(--light-color);
}

.grey-bg {
  background: var(--light-color);
  color: var(--dark-color);
}

.weight-text {
  font-weight: 900;
}

.l-heading {
  font-size: 2rem;
  padding: 1rem;
}

.m-heading {
  font-size: 1.5rem;
  padding: .7rem;
}

.s-heading {
  padding: .5rem;
}

.btn {
  display: inline-block;
  padding: .75rem;
  text-align: center;
  font-weight: bold;
  border: none;
}

.btn:hover {
  background: var(--dark-color);
  color: var(--light-color);
  opacity: 0.9;
}

.current {
  background: var(--primary-color);
  color: #fff;
}

.width-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: .4rem .6rem;
  border-radius: 15px;
  margin-bottom: .5rem;
}

.category-sport {
  background: var(--sports-color);
}

.category-ent {
  background: var(--entertaiment-color);
}

.category-tech {
  background: var(--tech-color);
}

/* Navigation */
#main-nav {
  background: #fff;
  position: sticky;
  z-index: 2;
  top: 0;
}

#main-nav .width-container {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 1rem;
  align-items: center;
}

#main-nav .logo {
  width: 180px;
}

#main-nav ul {
  justify-self: end;
  display: flex;
}

#main-nav .nav-social-icons {
  justify-self: center;
}

#main-nav .nav-social-icons i {
  color: #777;
  margin-right: .5rem;
}

/* Showcase header */
#showcase {
  color: #fff;
  background: var(--dark-color);
  position: relative;
  padding: 2rem;
}

#showcase::before {
  content: '';
  background: url('../img/featured.jpg') no-repeat center center/cover;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#showcase .showcase-container .showcase-content {
  z-index: 1;
}


#showcase .showcase-container .showcase-content p {
  margin-bottom: 1rem;
}
