/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: #fff 1px solid; */
    /* opacity: 0.8; */
}

/* General styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: #333;
}

/* Navbar */
#navbar {
    overflow: auto;
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

.logo {
    float: left;
    padding-top: 20px;
}

#navbar a {
    color: #fff;
}

#navbar ul {
    float: right;
    list-style: none;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover, .current-open {
    background-color: #444;
    color: #f7c08a;
}

/* Header */
.showcase-content {
    background-image: url("../pictures/showcase.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 20px;
    height: 600px;
}

.showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
}

.showcase-content p {
    color: #fff;
    margin: 20px auto 30px;
    font-size: 20px;
}

/* Main content */
/* Home section */
#home-info {
    height: 400px;
}

.info-img {
    width: 50%;
    float: left;
    background: url("../pictures/photo-1.jpg") no-repeat;
    min-height: 100%;
}

.info-content {
    text-align: center;
    float: right;
    width: 50%;
    height: 100%;
    padding: 50px 30px;
    overflow: hidden;
}

.info-content h3 {
    font-size: 20px;
    line-height: 1.2em;
    padding: 30px;
}

.info-content p {
    text-align: left;
    line-height: 1.5em;
    padding-bottom: 20px;
}

/* Features */
.box {
    text-align: center;
    width: 33.3%;
    float: left;
    padding: 50px;
    height: 350px;
}

.box p {
    padding: 0 20px;
    line-height: 1.8em;
}

/* Footer */
footer {
    clear: both;
    text-align: center;
    padding: 20px;
}

/*******************************************************************/
/* About */
/* Header */

#about_header_content {
    width: 1100px;
    padding: 30px;
    height: 350px;
    margin: auto;
}

.left-content {
    float: left;
    width: 50%;
    height: 100%;
}

.right-content {
    float: right;
    width: 50%;
    height: 100%;
}

#about_header_content p {
    padding-bottom: 20px;
}

#about_header_content #about_image img {
    display: block;
    height: 100%;
    border-radius: 50%;
    margin: auto;
}

/* Comments */
#comments {
    height: 600px;
    background: url("../pictures/test-bg.jpg") no-repeat center center/cover;
    text-align: center;
}

#comments h3 {
    color: white;
    font-size: 30px;
}

#comments img {
    width: 200px;
}

#comments .comment {
    background-color: tomato;
    margin: 20px;
    text-align: left;
}

#comments .comment_content {
    opacity: 0.8;
}

