#rectangl1 {
  background-color: aquamarine;
}

#line1 {
  background-color: aqua;
}

#line2 {
  background-color: antiquewhite;
}

#cirles {
  background-color: cornsilk;
}

#img1 {
  background-color: whitesmoke;
}