#rectangl1 {
  background-color: aquamarine;
}

#line1 {
  background-color: aqua;
}

#line2 {
  background-color: antiquewhite;
}

#cirles {
  background-color: cornsilk;
}

#img1 {
  background-color: whitesmoke;
}

#gradient1 {
  background-color: darkgrey;
}

#transrormation {
  background-color: darkturquoise;
}

#text1 {
  background-color: cornsilk;
}

#paint {
  background-color: rgb(220, 255, 253);
}

#paint2 {
  background-color: rgb(220, 255, 240);
}